<!-- Page Content -->
<div style="margin-left:25%">

    <div class="w3-container w3-teal">
      <h1>Nuevo Cuenta</h1>
    </div>
    
    <div class="w3-container">
    <br>
<!-- [formGroup]="formulario" -->
    <form (ngSubmit)="registrarCuenta()" class="form-example" [formGroup]="formulario">
        <div class="form-example">
          <label for="name">Numero de Cuenta: </label>
          <input type="text" required formControlName="numero_cuenta" />
        </div>
        <div class="form-example">
          <label for="email">Tipo de Cuenta: </label>
          <select formControlName="tipo" required>
            <option value="default">--Seleccionar--</option>
            <option value="1">Ahorros</option>
            <option value="2">Corriente</option>
            </select>
        </div>
        <div class="form-example">
            <label for="email">Saldo Inicial: </label>
            <input required formControlName="saldo_inicial"/>
        </div>
       
        <div class="form-example">
            <label for="email">Cliente: </label>
            <select formControlName="cliente" required>
                <option value="default">--Seleccionar--</option>
                <option *ngFor='let item of listClientesSelect' value="{{item.id}}">{{item.nombres}} </option>
            </select>
        </div>
        
        <div class="form-example">
          <input type="button" value="Cancelar" class="btn danger" routerLink="/dashboard/cuentas"/>
          <input type="submit" value="Registrar" class="btn success" />
        </div>
      </form>
        
    
    </div>
 
</div>
